@import url(http://fonts.googleapis.com/css?family=Cantarell);

.reset {
    padding:                0px;
    margin:                 0px;
}


body, html {
    .reset;
    background-color:       #EEEEEE;
    font-family:            Cantarell;
    color:                  #2E3436;
}

h1, h2, h3 {
    padding-left:           10px;
    border-bottom:          1px solid #CCCCCC;
}

h1 {
    font-size:              1.2em;
}

h2 {
    font-size:              1.1em;
}


.content {
    .reset;
    padding:                5px;
}


#main {
    padding-top:            15px;
}


.container {
    .reset;
    width:                  600px;
    margin-left:            auto;
    margin-right:           auto;
}


a {
    color:                  #333333;
}
