{% extends "base.html" %}

{% block subject %}Snitch.{% endblock %}

{% block body %}
    <h1>Currently viewing the {{set}} sites.</h1>

    <p>This was last checked {{deposition.updated_at|time}}</p>


    {% if deposition.is_offline() %}
        <div id="header" class="down" >
            It's totally down.
        </div>
    {% elif deposition.is_mixed() %}
        <div id="header" class="out" >
            Currently we have a partial outage.
        </div>
    {% else %}
        <div id="header" class="up" >
            It's up!
        </div>
    {% endif %}

    <div id='sites'>
        {% for site in deposition.sites %}
        <div class='site {% if site.is_offline() or site.is_mixed() %}down{% else %}up{% endif %}'>
            {% if site.is_offline() %}
                <span class='status' >↓</span>
            {% else %}
                <span class='status' >✓</span>
            {% endif %}
            <h2>{{site.site}}</h2>

            <ul class='updown'>
            {% for msg in site.up %}
                <li class='up'>{{msg}}</li>
            {% endfor %}
            {% for msg in site.down %}
                <li class='down'>{{msg}}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

{% endblock %}
