{% extends "base.html" %}

{% block subject %}Snitch.{% endblock %}

{% block body %}
    <h1>Currently viewing the {{set}} sites.</h1>
    <h2>currently: {{status.status}}</h2>

   {% if status.status == "down" %}
       <div id="header" class="down" >
           It's totally down.
       </div>
   {% elif status.status == "out" %}
       <div id="header" class="out" >
           Currently we have a partial outage.
       </div>
   {% else %}
       <div id="header" class="up" >
           It's up!
       </div>
   {% endif %}


    <div id='sites'>

       {% for site in status.sites %}
       <div class='site {% if site.status == "down" or site.status == "out" %}down{% else %}up{% endif %}'>
           {% if site.status == "down" %}
               <span class='status' >↓</span>
           {% elif site.status == "out" %}
               <span class='status' >↓.</span>
           {% else %}
               <span class='status' >✓</span>
           {% endif %}

           <h2>{{site.site}}</h2>

           <ul class='updown'>
           {% for check in site.checks %}
              {% if check.status == "ok" %}
                <li class='itemup'>{{check.check.info}} {{check.check.checked_at|time}}</li>
              {% else %}
               <li class='itemdown'>{{check.check.info}} {{check.check.checked_at|time}}</li>
              {% endif %}
           {% endfor %}
           </ul>
       </div>
       {% endfor %}
    </div>
{% endblock %}
