{% extends "base.html" %}

{% block subject %}Snitch.{% endblock %}

{% block body %}
    <h1>Currently viewing the {{set}} sites.</h1>

    <p>This was last checked {{deposition.updated_at|time}}</p>


    {% if deposition.is_down() %}
        <div id="header" class="down" >
            It's totally down.
        </div>
    {% elif deposition.has_outage() %}
        <div id="header" class="out" >
            Currently we have a partial outage.
        </div>
    {% else %}
        <div id="header" class="up" >
            It's up!
        </div>
    {% endif %}

    <div id='sites'>
        {% for site in deposition.sites %}
        <div class='site {% if site.down() %}down{% else %}up{% endif %}'>
            {% if site.down() %}
                <span class='status' >↓</span>
            {% else %}
                <span class='status' >✓</span>
            {% endif %}
            <h2>{{site.name}}</h2>

            {% if site.down() %}
                <ul>
                {% for datum in site.info %}
                    <li>{{datum}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}
